#header-cart {
  margin: 0px auto;
  background-image: url(https://cdn.pixabay.com/photo/2016/09/13/19/31/texture-1668079_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#header-cart h1 {
  color: #f9f871;
  font-size: 5rem;
  margin: 2px 2px;
  font-family: "Shadows Into Light", cursive;
}

#header-cart h2 {
  color: #008891;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 5px;
  width: 50%;
  margin: auto 25%;
}

#part-a {
  margin: 2px auto;
  background-image: url("https://cdn.pixabay.com/photo/2012/02/17/14/50/background-13986_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
}

#part-a h2 {
  color: #ff005c;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-top: 2px;
  margin: 3px auto 0 auto;
}

#part-a h3 {
  color: #007580;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  font-weight: normal;
  padding-top: 5px;
  margin: 5px auto 0 auto;
  width: 75%;
}

#part-a p {
  color: #6e7582;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 10px;
  margin: 2px auto 0 auto;
  width: 75%;
}

#products-section {
  background-image: url("images/bacground_kites_in_the_sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-top: 2px;
  height: 1750px;
}

#products-section h3 {
  color: #edffec;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  font-weight: normal;
  padding-top: 5px;
  margin: 5px auto 0 auto;
  width: 75%;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a {
  background-color: #9ddfd3;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.products-section-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 2px;
  border-bottom: 2px solid #007580;
}

.products-section-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #007580;
  margin: 0 auto;
}

.title {
  width: 45%;
}

.price {
  width: 15%;
  display: flex;
  align-items: center;
}

.quantity {
  width: 15%;
  display: flex;
  align-items: center;
}

.total {
  width: 15%;
  display: flex;
  align-items: center;
}
